# dependencies
node_modules/
package-lock.json

# build output
build/
dist/

# backup and cache
backup/
.env
.vercel/
.cache/

# system files
.DS_Store
Thumbs.db

# IDE and OS-specific files
.vscode/
.idea/
*.log
